.combat-ui {
    flex-direction: column;
    padding: 10px;
    background-color: #222;
    color: white;
    width: 400px;
}

.button-list {
    margin-top: 10px;
    margin-bottom: 10px;
    flex-direction: column;
    gap: 5px;
}

.character-label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
